<div class="container" style="color: white">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create Your New Cocktail</h1>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :name %>
        <%= f.button :submit, class: "btn btn-light" %>
        <%= link_to 'Back', cocktails_path, class: "btn btn-light" %>
      <% end %>
    </div>
  </div>
</div>

