<h5 style="font-weight: bolder; text-shadow: 2px 1px 4px black">Add A New Dose</h5>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-light" %>
<% end %>
<%= link_to 'Back', cocktail_path, class: "btn btn-light mt-2" %>
